<div ng-controller="MapController" ng-init="mapa()">
    <div ng-show="mapReady" class="container well" id="head" ng-init="populateCategorias()">
        <div ng-show="mapReady">
            <h2>¿Qué tipo de lugar o actividad estás buscando en {{ city }}?</h2>
            <div id="filtros">
                <div id="categorias">
                    <button class="btn btn-green btn-lg btn-filter" ng-click="filters.categoria = ''; filters.subcategoria = ''"> Cualquiera </button>
                    <button class="btn btn-green btn-lg btn-filter" ng-repeat="categoria in categorias" ng-click="filters.categoria = categoria.id; filters.subcategoria = ''"> {{ categoria.nombre }} </button> 
                </div>
                <hr ng-show="filters.categoria != ''" ng-hide="filters.categoria == ''">
                <div id="subcategorias" ng-show="filters.categoria != ''" ng-hide="filters.categoria == ''" ng-init="populateSubcategorias()">
                    <h3>¿Algo mas específico?</h3>
                    <button class="btn btn-green btn-sm btn-filter" ng-click="filters.subcategoria = ''"> Todos </button>
                    <button class="btn btn-green btn-sm btn-filter" ng-repeat="subcategoria in subcategorias | filter: {categoria: {id:filters.categoria}}" ng-click="filters.subcategoria = subcategoria.id"> {{subcategoria.nombre}} </button>
                </div>        
            </div>
            
        </div>
        
    </div>

    <div id="map">
        <div ng-if="mapReady">
            <mapbox id="mapa" map_id="{{ map_id }}" lat="{{ lat }}" lng="{{ lng }}" zoom="{{ zoomMap }}" >
                <marker ng-repeat="lugar in lugares | filter: {categoria: {id: filters.categoria}} | filter: {subcategoria: {id:filters.subcategoria}}" lat="{{ lugar.latLng.lat }}" lng="{{ lugar.latLng.lng }}">
                    <div>
                        <span class="text-center"><h3 ng-bind="lugar.nombre"></h3></span>
                        <h4>{{ lugar.categoria.nombre}} 
                            <small>{{ lugar.subcategoria.nombre }}</small>
                        </h4>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>Dirección: </strong><span ng-bind="lugar.direccion"></span>        
                            </div>
                            <div class="col-sm-6">
                                <span ng-if="lugar.telefono"><strong>Teléfono: </strong> {{ lugar.telefono }} </span>        
                            </div>
                        </div>
                        
                        
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quasi, quibusdam, sint, saepe at iste laudantium quam itaque beatae, commodi excepturi nemo. Cupiditate, nam aspernatur quidem voluptatum autem rerum quia.</p>
                        <div class="text-center row">
                            <div class="col-sm-3">
                                <a ng-href="http://www.twitter.com/{{lugar.twitter}}" ng-show="lugar.twitter" target="_blank">
                                    <i class="fa fa-2x fa-twitter"></i>
                                </a>     
                            </div>
                            <div class="col-sm-3">
                                <a ng-href="http://www.facebook.com/{{lugar.facebook}}" ng-show="lugar.facebook" target="_blank">
                                    <i class="fa fa-2x fa-facebook"></i>
                                </a>     
                            </div>
                            <div class="col-sm-3">
                                <a ng-href="http://www.instagram.com/{{lugar.instagram}}" ng-show="lugar.instagram" target="_blank">
                                    <i class="fa fa-2x fa-instagram"></i>
                                </a>    
                            </div>
                            <div class="col-sm-3">
                                <a ng-href="http://{{lugar.website}}" ng-show="lugar.website" target="_blank">
                                    <i class="fa fa-2x fa-desktop"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="text-center">
                        <a ng-click="obtenerLugar(lugar.id); " class="btn btn-default btn-xs">Más información</a>    
                    </div>-->
                    
                </marker>
            </mapbox>
        </div>
        <div class="text-center loading" ng-if="!mapReady" id="mensajes">
            <div ng-if="!errorLocation">
                <h2>Buscando los mejores lugares para ti</h2>
                <h3>Por favor, espera...</h3>
            </div>

            <div ng-if="errorLocation">
                <h1 data-ng-bind="errorLocationMsg"></h1>
            </div>
        </div>
    </div>
    <div id="info-place" class="container well" ng-show="lugar" ng-hide="!lugar">
        <div ng-if="lugar.$resolved && !lugar.length">
            <h2 ng-bind="lugar.nombre"></h2>
            <h3> {{lugar.categoria.nombre}} <small ng-bind="lugar.subcategoria.nombre"></small> </h3>
            <strong ng-bind="lugar.direccion"></strong>
            <p ng-bind="lugar.telefono"></p>
            <p><b>Facebook:</b> <span ng-bind="lugar.facebook"></span></p>
            <p><b>Twitter:</b> <span ng-bind="lugar.twitter"></span></p>
            <p><b>Instagram:</b> <span ng-bind="lugar.instagram"></span></p>
            <p><b>Website:</b> <span ng-bind="lugar.website"></span></p>    
        </div>
        
    </div>
    
    <!--<div id="apps" ng-show="mapReady">
        <div class="container">
            <div class="col-sm-9">
                <h4>Encuentra los mejores lugares en {{ city }} desde tu smartphone o table.</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-block btn-default"><i class="fa fa-2x fa-android"></i> Descargar para Android</button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-block btn-default"><i class="fa fa-2x fa-apple"></i>Descargar para iOS</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                
            </div>
            
        </div>    
    </div>-->
    
    <footer ng-show="mapReady">
        <div class="container">
            <!--<div class="row">
                <div class="col-sm-4">
                    <strong>Directorio de lugares</strong>
                    <ul>
                        <li>Lugar</li>
                        <li>Lugar</li>
                        <li>Lugar</li>
                        <li>Lugar</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <strong>Anunciate</strong>
                    <ul>
                        <li>Publica tu negocio</li>
                        <li>Publica tu evento</li>
                        <li>Precios</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-xs-4"><i class="fa fa-2x fa-facebook"></i></div>
                        <div class="col-xs-4"><i class="fa fa-2x fa-twitter"></i></div>
                        <div class="col-xs-4"><i class="fa fa-2x fa-instagram"></i></div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <p>
                    ©2015 On My Mind
                </p>
                <!--<p>
                    Terminos de servicio | Politicas de privacidad | Contacto | Preguntas y Soporte    
                </p>-->
                
            </div>
        </div>
    </footer>

</div>