<div class="container" ng-controller="SubcategoriasController" ng-init="find()">
    <div class="page-header">
        <h2>Subcategorias</h2>
    </div>
    <div class="list-group">
        <ul>
            <li ng-repeat="subcategoria in subcategorias" class="list-group-item">
                <a ng-href="#!/dashboard/subcategorias/{{subcategoria.id}}">{{subcategoria.nombre}}</a>
            </li>
        </ul>
    </div>
    <div class="alert alert-warning text-center" ng-hide="!subcategorias.$resolved || subcategorias.length">
        Sin subcategorias, ¿por qué no <a href="#!/dashboard/subcategorias/nueva">creas una</a>?
    </div>
</div>