<div class="container" ng-controller="LugaresController">
    <h2>Registra tu negocio</h2>
    <div id="info" class="text-center">
        <p>Todavía tienes dudas de porqué registrar tu negocio en ¿Hoy a dónde?. Checa los beneficios que tenemos para ti</p>
        <button ng-click="goTo('beneficios')" class="btn btn-primary">Beneficios que obtengo al registrar mi lugar</button>
        <p>Si ya estás listo, llena el siguiente formulario para empezar a disfrutar de todos los beneficios</p>
    </div>

    <hr>

    <form id="formRegistroNegocio" name="formRegistroNegocio" ng-submit="create()" ng-init="populateCategorias(); populateSubcategorias();" novalidate>
        <div class="row">
            <div class="col-sm-6 md-card">

                <md-input-container>
                    <label>Nombre (requerido)</label>
                    <input type="text" ng-model="nombre" name="nombre" id="nombre" required>
                    <div ng-messages="formRegistroNegocio.nombre.$error" ng-if="formRegistroNegocio.nombre.$invalid">
                        <p ng-message="required">Tienes que ponerle un nombre al lugar.</p>
                    </div>
                </md-input-container>

                <div class="form-group" ng-class="'has-error'">
                    <label for="categoria">Categoria</label><br/>
                    <div class="container-fluid">
                        <md-button type="button" class="md-raised md-cornered" ng-repeat="c in categorias" ng-class="{'md-primary' : categoria == c.id}" ng-click="seleccionarCategoria(c.id)">
                            {{ c.nombre }}
                            <md-tooltip ng-if="c.descripcion">
                                {{ c.descripcion }}
                            </md-tooltip>
                        </md-button>
                    </div>
                    <input type="text" class="form-control" ng-model="categoria" name="categoria" id="categoria" required style="display: none;"/>
                    <div ng-messages="formRegistroNegocio.categoria.$error">
                        <p ng-message="required">Debes de seleccionar una categoria</p>
                    </div>
                </div>

                <div class="form-group" ng-show="filters.categoria != ''" ng-hide="filters.categoria == ''" ng-class="'has-error'">
                    <label for="subcategoria">Subcategoria</label><br/>
                    <div class="container-fluid">
                        <md-button type="button" class="md-raised md-cornered" ng-class="{'md-primary' : subcategoria == s.id}" ng-repeat="s in subcategorias | filter: {categoria:{id:filters.categoria}}" ng-click="seleccionarSubcategoria(s.id)">
                            {{ s.nombre }}
                            <md-tooltip ng-if="s.descripcion">
                                {{ s.descripcion }}
                            </md-tooltip>
                        </md-button>
                    </div>
                    <input type="text" class="form-control" ng-model="subcategoria" name="subcategoria" id="subcategoria" required style="display: none;"/>
                    <div ng-messages="formRegistroNegocio.subcategoria.$error">
                        <p ng-message="required">Debes de selecccionar una subcategoria</p>
                    </div>
                </div>

                <md-input-container>
                    <label>Descripción (requerida)</label>
                    <textarea ng-model="descripcion" name="descripcion" id="descripcion" cols="30" rows="2"  md-maxlength="140" required></textarea>
                    <div ng-messages="formRegistroNegocio.descripcion.$error">
                        <p ng-message="required">Tienes que ponerle una descripción al lugar.</p>
                        <p ng-message="md-maxlength">La descripción es muy larga.</p>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label for="telefono">Teléfono</label>
                    <input type="tel" ng-model="telefono" name="telefono" id="telefono" mask="(999) 999-9999" minlength="14" maxlength="14">
                    <div ng-messages="formRegistroNegocio.telefono.$error">
                        <p ng-message="maxlength">El teléfono es muy largo</p>
                        <p ng-message="minlength">El teléfono es muy corto</p>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Dirección (requerida)</label>
                    <input type="text" ng-model="direccion" name="direccion" id="direccion" required>
                    <div ng-messages="formRegistroNegocio.direccion.$error">
                        <p ng-message="required">Tienes que ponerle una dirección al lugar.</p>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label for="facebook">Facebook</label>
                    <input type="text" ng-model="facebook" name="facebook" id="facebook">
                </md-input-container>

                <md-input-container>
                    <label>Twitter</label>
                    <input type="text" ng-model="twitter" name="twitter" id="twitter">
                </md-input-container>

                <md-input-container>
                    <label>Instagram</label>
                    <input type="text" ng-model="instagram" name="instagram" id="instagram">
                </md-input-container>

                <md-input-container>
                    <label>Website</label>
                    <input type="text" ng-model="website" name="website" id="website">
                </md-input-container>
            </div>

            <div class="col-sm-6">
                <h4>Ubica tu lugar en el mapa. <small>Arrastrando el puntero rojo</small></h4>
                <div ng-init="createMap();">
                    <input type="text" class="form-control" ng-model="coordenadas" name="coordenadas" id="coordenadas" style="display:none;">
                    <div id="map-canvas" style="height:800px; width:100%; "></div>
                </div>
                <br/>
            </div>
        </div>
        <br/>
        <div class="text-center">
            <md-button class="btn-block md-raised md-cornered" ng-class="{'md-primary' : !formRegistroNegocio.$invalid}" type="submit" ng-disabled="formRegistroNegocio.$invalid">
                <span ng-visible="formRegistroNegocio.$invalid" ng-hide="!formRegistroNegocio.$invalid">Faltan datos por llenar, no podemos registrar tu lugar</span>
                <span ng-visible="!formRegistroNegocio.$invalid" ng-hide="formRegistroNegocio.$invalid">Registra mi lugar</span>
            </md-button>
        </div>
    </form>

    <hr>
    <div id="beneficios">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deleniti explicabo, beatae fugiat nesciunt? Architecto nulla aperiam facere eos. Facere delectus magni impedit deserunt, placeat aspernatur veniam inventore quaerat corporis!</p>
        <button class="btn btn-primary" ng-click="goTo('form-registro-negocio')">Quiero registrar mi lugar</button>
    </div>
</div>