<div class="container" ng-controller="LugaresController" ng-init="findOne()">
    <h2>Editar lugar</h2>

    <form id="formUpdateLugar" ng-submit="update()" name="formUpdateLugar" ng-init="populateCategorias(); populateSubcategorias();" novalidate>
        <div class="row">
            <div class="col-sm-6 md-card">

                <md-input-container>
                    <label>Nombre (requerido)</label>
                    <input type="text" ng-model="lugar.nombre" name="nombre" id="nombre" required/>
                    <div ng-messages="formUpdateLugar.nombre.$error" ng-if="formUpdateLugar.nombre.$invalid">
                        <p ng-message="required">Tienes que ponerle un nombre al lugar.</p>
                    </div>
                </md-input-container>

                <div class="form-group" ng-class="'has-error'">
                    <label for="categoria">Categoria</label><br/>
                    <div class="container-fluid">
                        <md-button type="button" class="md-raised md-cornered" ng-repeat="c in categorias" ng-class="{'md-primary' : lugar.categoria.id == c.id}" ng-click="seleccionarCategoria(c.id)">
                            {{ c.nombre }}
                            <md-tooltip ng-if="c.descripcion">
                                {{ c.descripcion }}
                            </md-tooltip>
                        </md-button>
                        <input type="text" class="form-control" ng-model="lugar.categoria.id" name="categoria" id="categoria" required style="display: none;"/>
                        <div ng-messages="formUpdateLugar.categoria.$error">
                            <p ng-message="required">Debes de seleccionar un categoria</p>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-show="filters.categoria != ''" ng-hide="filters.categoria == ''" ng-class="'has-error'">
                    <label for="subcategoria">Subcategoria</label><br/>
                    <div class="container-fluid">
                        <md-button type="button" class="md-raised md-cornered" ng-repeat="s in subcategorias | filter: {categoria:{id:filters.categoria}}" ng-click="seleccionarSubcategoria(s.id)" ng-class="{'md-primary' : lugar.subcategoria.id == s.id}">
                            {{ s.nombre }}
                            <md-tooltip ng-if="s.descripcion">
                                {{ s.descripcion }}
                            </md-tooltip>
                        </md-button>
                        <input type="text" class="form-control" ng-model="lugar.subcategoria.id" name="subcategoria" id="subcategoria" required style="display: none;"/>
                        <div ng-messages="formUpdateLugar.subcategoria.$error">
                            <p ng-message="required">Debes de seleccionar una subcategoria</p>
                        </div>
                    </div>
                </div>

                <md-input-container>
                    <label>Descripción (requerida)</label>
                    <textarea ng-model="lugar.descripcion" name="descripcion" id="descriocion" cols="30" rows="2" md-maxlength="140" required></textarea>
                    <div ng-messages="formUpdateLugar.descripcion.$error">
                        <p ng-message="required">Tienes que ponerle una descripción al lugar.</p>
                        <p ng-message="md-maxlength">La descripción es muy larga.</p>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label for="telefono">Teléfono</label>
                    <input type="tel" ng-model="lugar.telefono" name="telefono" id="telefono" mask="(999) 999-9999" minlength="14" maxlength="14">
                    <div ng-messages="formUpdateLugar.telefono.$error">
                        <p ng-message="maxlength">El teléfono es muy largo</p>
                        <p ng-message="minlength">El teléfono es muy corto</p>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Dirección (requerida)</label>
                    <input type="text" ng-model="lugar.direccion" name="direccion" id="direccion" required>
                    <div ng-messages="formUpdateLugar.direccion.$error">
                        <p ng-message="required">Tienes que ponerle una dirección al lugar.</p>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label for="facebook">Facebook</label>
                    <input type="text" ng-model="lugar.facebook" name="facebook" id="facebook">
                </md-input-container>

                <md-input-container>
                    <label>Twitter</label>
                    <input type="text" ng-model="lugar.twitter" name="twitter" id="twitter">
                </md-input-container>

                <md-input-container>
                    <label>Instagram</label>
                    <input type="text" ng-model="lugar.instagram" name="instagram" id="instagram">
                </md-input-container>

                <md-input-container>
                    <label>Website</label>
                    <input type="text" ng-model="lugar.website" name="website" id="website">
                </md-input-container>

            </div>
            <div class="col-sm-6">
                <h4>Ubica tu lugar en el mapa. <small>Arrastrando el puntero rojo</small></h4>
                <div>
                    <input type="text" class="form-control" ng-model="lugar.coordenadas" name="coordenadas" id="coordenadas" style="display:none;">
                    <div id="map-canvas" style="height:800px; width:100%; "></div>
                </div>
                <br/>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <md-button type="submit" class="btn-block md-raised md-cornered" ng-class="{'md-primary' : !formUpdateLugar.$invalid }" ng-disabled="formUpdateLugar.$invalid">
                <span ng-visible="formUpdateLugar.$invalid" ng-hide="!formUpdateLugar.$invalid">Faltan dato por llenar, no podemos actualizar tu lugar</span>
                <span ng-visibel="!formUpdateLugar.$invalid" ng-hide="formUpdateLugar.$invalid">Actualizar mi lugar</span>
            </md-button>
        </div>
    </form>
</div>