<div class="container" ng-controller="AutenticacionController">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 md-card">
            <h2 class="text-center">Restaurar contraseña</h2>
            <div class="md-alert md-alert-error" role="alert" ng-show="success == false">
                <b>{{ error }}</b>
            </div>
            <div class="md-alert md-alert-success" role="alert" ng-show="success == true">
                <b>{{ message }}</b>
                <p>Accede a tu cuenta de correo para seguir las instrucciones</p>
            </div>

            <form ng-submit="solicitarRestaurarPassword()" name="recover_password_form">
                <md-input-container>
                    <label>Correo electrónico</label>
                    <input ng-model="email" name="email" type="email" required autofocus/>
                    <div ng-messages="recover_password_form.email.$error">
                        <div ng-message="required">Necesitas introducir tu correo electrónico</div>
                        <div ng-message="email">Necesitas introducir un correo valido</div>
                    </div>
                </md-input-container>

                <div class="text-center">
                    <md-button class="btn-block md-raised md-primary md-cornered" type="submit">Restaurar contraseña</md-button>
                </div>
            </form>
        </div>
    </div>
</div>