<div class="container" ng-controller="AutenticacionController">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 md-card">
            <h2 class="text-center">Acceso</h2>
            <div class="md-alert md-alert-error" role="alert" ng-show="error">
                {{ error }}
            </div>

            <form ng-submit="login()" name="form_login">
                <md-input-container>
                    <label>Correo Electrónico</label>
                    <input ng-model="email" name="email" type="email" required autofocus/>
                    <div ng-messages="form_login.email.$error">
                        <div ng-message="required">Necesitas introducir tu correo electrónico</div>
                        <div ng-message="email">Necesitas introducir un correo valido</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Contraseña</label>
                    <input ng-model="password" name="password" type="password" required/>
                    <div ng-messages="form_login.password.$error">
                        <div ng-message="required">Necesitas introducir tu contraseña</div>
                    </div>
                </md-input-container>
                <div class="text-center">
                    <md-button class="btn-block md-raised md-primary md-cornered" type="submit">Acceder</md-button>
                </div>
            </form>
        </div>

    </div>
    

    <div class="text-center">
        ¿Hoy a dónde? es un producto de <a href="http://www.onmymind.com.mx">On My Mind</a>
    </div>
</div>
