<div class="container">
    <div class="row">
        <div class="col-sm-6 md-card">
            <div ng-controller="AutenticacionController">
                <form name="registroForm" ng-submit="signup()">
                    <h2>Registro</h2>
                    <div class="md-alert md-alert-error" role="alert" ng-show="error">
                        {{ error }}
                    </div>

                    <md-input-container>
                        <label>Correo electrónico</label>
                        <input ng-model="email" name="email" type="email" id="email" required autofocus/>
                        <div ng-messages="registroForm.email.$error" ng-show="registroForm.email.$touched">
                            <p ng-message="required">Necesitas proporcionar un email</p>
                            <p ng-message="email">Necesitas proporcionar un email válido</p>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Nombre de usuario</label>
                        <input ng-model="username" name="username" type="text" id="username"/>
                    </md-input-container>

                    <md-input-container>
                        <label>Contraseña</label>
                        <input ng-model="password" name="password" type="password" id="password" required/>
                        <div ng-messages="registroForm.password.$error" ng-show="registroForm.password.$touched">
                            <div ng-message="required">Ncesitas introducir una contraseña</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Nombre</label>
                        <input ng-model="first_name" type="text" id="first_name" name="first_name">
                    </md-input-container>

                    <md-input-container>
                        <label >Apellido</label>
                        <input ng-model="last_name" type="text" id="last_name">
                    </md-input-container>

                    <md-checkbox ng-model="terminos">
                        Acepto los términos y condiciones de ¿Hoy a dónde?
                    </md-checkbox>

                    <md-checkbox ng-model="boletin">
                        Deseo suscribirme al boletín de ¿Hoy a dónde?. No te mandaremos spam, igual nosotros lo odiamos y puedes desuscribirte del boletín cuando quieras.
                    </md-checkbox>

                    <div class="text-center">
                        <md-button class="btn-block md-raised md-cornered" type="submit" ng-disabled="registroForm.$invalid || terminos != true">
                            <span ng-show="registroForm.$invalid">Te faltan datos por llenar para poder registrarte</span>
                            <span ng-show="!registroForm.$invalid && terminos != true">Te falta aceptar los términos y condiciones</span>
                            <span ng-show="!registroForm.$invalid && terminos == true">Registrarse</span>
                        </md-button>
                    </div>

                </form>

                
            </div>
        </div>
        <div class="col-sm-6">
            <h2>¿Por qué registrarme?</h2>
            <p>
                Sobran los motivos para registrarte en ¿Hoy a dónde? pero te 
                los mencionaremos aquí.
            </p>
            <div class="media">
                <div class="media-left media-middle">
                    <img src="http://placehold.it/100x100">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Los mejores lugares en donde te encuentres</h4>
                    <p>
                        ¿Acabas de llegar a la ciudad y no sabes a dónde ir en 
                        la noche o qué hacer? En ¿Hoy a dónde? tenemos un 
                        directorio con los mejores lugares de la ciudad, 
                        organizados de una excelente manera para que puedas 
                        saber qué hacer.
                    </p>
                </div>
            </div>
            
            <div class="media">
                <div class="media-body">
                    <h4 class="media-headig">
                        Guarda tus lugares favoritos
                    </h4>
                    <p>
                        ¿Encontraste tu nuevo lugar favorito? Agregalo a tu 
                        sección de 'Favoritos' y jamás lo perderás de nuevo, 
                        al igual tendrás todos los datos de contacto de ese 
                        lugar siempre a tu mano.
                    </p>
                </div>
                <div class="media-right media-middle">
                    <img src="http://placehold.it/100x100">
                </div>
            </div>

            <div class="media">
                <div class="media-left media-middle">
                    <img src="http://placehold.it/100x100">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Comparte tus lugares favoritos con tus amigos</h4>
                    <p>
                        Comentales a tus amigos de ese nuevo lugar que acabas de
                        descubrir e invitalos a visitarlo también, para que se
                        pasen un excelente momento juntos.
                    </p>
                </div>
            </div>
            
            <div class="media">
                <div class="media-body">
                    <h4 class="media-headig">
                        Registra tu lugar
                    </h4>
                    <p>
                        ¿Eres dueño de algún establecimiento? Al ser miembro de 
                        ¿Hoy a dónde? puedes inscribir a tu establecimiento y 
                        empezar a disfrutar de los beneficios que te ofrecemos.
                    </p>
                </div>
                <div class="media-right media-middle">
                    <img src="http://placehold.it/100x100">
                </div>
            </div>
            
        </div>
    </div>
    <br/>
    <div class="text-center">
        ¿Hoy a dónde? es un producto de <a href="http://www.onmymind.com.mx">On My Mind</a>
    </div>
</div>

